# Ignore .env file
.env
.venv/*

./cache_**
./cache_*
cache_**
cache_*

./last_**
./last_*
last_**
last_*

./btt_unstake_**.log
./btt_unstake_*.log
btt_unstake_**.log
btt_unstake_*.log
*.pyc
__pycache__/*
*.log
.sheets_config.json
service-account.json
last_updates.json