# Ignore .env file
.env
.venv/*

# Ignore cache files but keep the directory
cache/*
!cache/.gitkeep

# Remove old cache pattern entries
# ./cache_**
# ./cache_*
# cache_**
# cache_*

# ./last_**
# ./last_*
# last_**
# last_*

./btt_unstake_**.log
./btt_unstake_*.log
btt_unstake_**.log
btt_unstake_*.log
*.pyc
__pycache__/*
*.log
.sheets_config.json
service-account.json
last_updates.json